# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Archives
# =========================
*.zip
*.rar
*.7z

# =========================
# Build
# =========================
dist/
build/

# =========================
# Database Scripts
# =========================
schema.sql
seed.sql

# =========================
# Supabase
# =========================
supabase/.temp/
supabase/.branches/